@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
}
a{
  margin-left: .25rem;
  text-decoration: none;
  
}
a:visited{
  color: #000;
}
a:hover{
  color: #394088;
}

#rovers{
  margin: 1rem;
  /*! Style more:make larger and remove gray background */
}
.selectors{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 50%;
}
.container, .earth-day {
  display: flex;
  flex-wrap: wrap;
  max-width: 75%;
  margin: auto;
  justify-content: center;
  
  
  /* align-items: center;
  justify-content: center; */
 /*  width: 35%; */
  /* margin: auto; */
}
.earth-day{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1rem;
}
.image {
  height: 25rem;
  width: 35rem;
  /* background-size: auto; */
  background-repeat: no-repeat;
  margin: 1rem 0;
  /* border: solid 5px #000; */
}
.image:hover{
  
  transform: translateY(-2px);
  filter: drop-shadow(5px 5px 2px #111010);
  
  
}
footer{
  background-color: aliceblue;
  width: 100%;
}
footer p{
  text-align: center;
}

/* CONTACT.html */
form fieldset{
  display: flex;
  flex-direction:column;
  margin-top: 2rem;
  
}
form fieldset legend{
  font-weight: 700;
}
form fieldset label{
  margin-top: 1rem;
}
form fieldset input{
  height: 2rem;
  min-width: 20rem;
}
form fieldset button{
  margin-top: 2rem;
  width: 10rem;
  height: 2rem;
  color: aliceblue;
  font-size: 1.25rem;
  border-radius: 5px;
  background-color: #394088;
  align-self: center;
}
.incorrect{
  border-color: red;
}

/* Add mediaqueries for contact and pictures */