@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.container {
  /* align-items: center;
  justify-content: center; */
  width: 35%;
  margin: auto;
}

.image {
  height: 25rem;
  background-repeat: no-repeat;
  margin-top: 2rem;
  border: solid 5px #000;
}
